<h2>Appointments</h2>

{{#each model as |appointment|}}
  <li>
    User ID:{{appointment.user.id}} |
    Slot ID:{{appointment.slot.id}} |
    Editable: {{appointment.editable}}
    {{#if appointment.editable}}
      {{#link-to 'appointment' appointment}}
        View Appointment
      {{/link-to}}
      <button {{action 'delete' appointment}}>Delete</button>
    {{/if}}
  </li>
{{/each}}
