<h2>Book</h2>
<!-- list available slots
add confirm button -->


{{slots-list slot=model
             toggleSlotAvailable='toggleSlotAvailable'
             createAppointment='createAppointment'}}
{{outlet}}
