<h3>Slots</h3>
{{#each slots as |slot|}}
  {{slots-list/slot-display slot=slot
                            user=user
                            toggleSlotAvailable='toggleSlotAvailable'
                            createAppointment='createAppointment'}}

{{/each}}
